body {
    font-family: Verdana, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}
h1 {
    color: darkblue;
    text-transform: uppercase;
}
h2:hover {
    color: red;
    cursor: pointer; 
     transition: color 3s ease-in-out;
}
.about {
    color: red;
}
.card {
    border: 1px solid;
    padding: 1rem;
    border-radius: 0.5rem;
}
.card:hover {
    transform: scale(1.1);
     transition: color 3s ease-in-out;

}
.wrapper  {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 1rem;
}
.card img {
    width: 100%;
}
.tittle {
   color: darkblue;  
}
.phone.link {
   font-family: 'Times New Roman', Times, serif;
}
#email.info {
   font-family: 'Times New Roman', Times, serif;
}
div span {
color: darkblue;
}
